<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <component-calc></component-calc>
    </div>
</body>
</html>

<script>
    //컴포넌트 내에서 어떻게 이벤트를 처리할 것인가
    //컴포넌트에서 데이터를 저장하려면 그냥 json 객체를 넣으면 안되고
    //콜백함수를 주고, 구문 안에 변수를 써야 한다.
    Vue.component('component-calc', {
        data: function(){
            return{
                x:0, y:0, result:0
            }
        },

        //여러 태그를 한 꺼번에 둘 때에는 감싸주는 태그가 필요하다. <div>
        template:`
        <div>
            x : <input v-model="x"> <br/>
            y : <input v-model="y"> <br/>
            <span>{{result}}</span> <br/>
            <button v-on:click="onAdd">+</button>
            <button v-on:click="onSub">-</button>
            <button v-on:click="onMul">*</button>
            <button v-on:click="onDiv">/</button>
        </div>
        `,
        methods:{
            onAdd:function(){
                this.result = parseInt(this.x) + parseInt(this.y);
            },
            onSub:function(){
                this.result = parseInt(this.x) - parseInt(this.y);
            },
            onMul:function(){
                this.result = parseInt(this.x) * parseInt(this.y);
            },
            onDiv:function(){
                this.result = parseInt(this.x) / parseInt(this.y);
            }
        }
    });

    new Vue({
        el:"#app",
        data:{

        }
    });
</script>
