<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="x[0]"> <br>
        <input type="text" v-model="x[1]"> <br>
        <input type="text" v-model="x[2]"> <br>
        <input type="text" v-model="x[3]"> <br>
        <input type="text" v-model="x[4]"> <br>
        <input type="text" v-model="x[5]"> <br>
        <input type="text" v-model="x[6]"> <br>
        <input type="text" v-model="x[7]"> <br>
        <input type="text" v-model="x[8]"> <br>
        <input type="text" v-model="x[9]"> <br>
        <hr>
        result : <span>{{result}}</span>
        <br>
        <button v-on:click="add">합계구하기</button>
    </div>
</body>
</html>

<script>
    new Vue({
        el:"#app",
        data:{
            x:[3,4,5,6,7,8,9,10,11,12],
            result:0
        },
        methods:{
            add:function(){
                this.result=0;
                this.x.forEach(element=>{
                    this.result += parseInt(element);
                    console.log(this.result);
                });
            }
        }
    });
</script>
